@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.text_red {
  color: #f54749;
}

.bg_red {
  background-color: #f54749;
}
